<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Categorias</title>
    </head>
    <body style="padding:20px">
        {% if cursor %}
            <h3>Lista de Categorias</h3>
            <table border="2px">
                <thead>
                    <tr>
                        <th>Nome da categoria</th>
                        <th>Subcategorias</th>
                        <th>Remover</th>
                        <th>Adicionar Sub</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in cursor %}
                        <tr>
                            <td>{{ record[0] }} </td>
                            <td><a href="sub_cats?nome={{ record[0] }}">Listar Sub-Categorias</a></td>
                            <td><a href="confirm_delete_category?nome={{ record[0] }}">Remover Categoria</a></td>
                            <td><a href="add_sub_cat?nome={{ record[0] }}">Adicionar Subcategoria</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <ul>
                <li><a href="new_category">Adicionar categoria</a></li>
                <li><a href="sub_cat_menu">Relações entre super e sub categorias</a></li>
            </ul>
        {% else %}
        <p> Erro: ao obter dados da base de dados! </p>
        {% endif %}
    </body>
</html>